html.body {
  height: 100%;
}

* {
  font-family: 'Work Sans', sans-serif;
}

body {
  /* background: #1B131A; */
}

h2 {
  color: #ee6e73;
  font-weight: bold;
}

img.my_image {
  max-height: 300px;
}

.box {
  width: 100%;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
  box-shadow: none;
}

.gem {
  max-width: 100%;
  transition: all linear 1s;
}

.win_loss_grid {
  display: grid;
  justify-content: flex-start;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.gray_box {
  background: #F0F0F0;
}

.large_text {
  font-size: 2em;
}


.card.horizontal .card-stacked .card-content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.scaleSmall {
  transform: scale(0.7);
}

.score_box {
  height: 200px;
  width: 100%;
  background: #F0F0F0;
  display: grid;
  justify-content: center;
  align-items: top;
}

.card.horizontal .card-image img {
  transform: scale(1.5);
}

#numberOfWins {
  color: #3A3A8B;
  font-family: 'Cinzel Decorative', cursive;
  text-decoration: underline;
}

#numberOfLoss {
  color: #3A3A8B;
  font-family: 'Cinzel Decorative', cursive;
  text-decoration: underline;
}

.numberFont {
  color: #3A3A8B;
  font-family: 'Cinzel Decorative', cursive;
}

.numberFont > h1 {
  color: #3A3A8B;
  font-family: 'Cinzel Decorative', cursive;
}

.text_size {
  font-size: 1.2em;
}
